################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/csharpinit78/.vs/csharpinit78/v17
/csharpinit78/bin/Debug/net6.0
/csharpinit78/obj/Debug/net6.0
/csharpinit78/obj
